{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-center">Ingresar los Datos del Laboratorio</h1>
<div class="row col-6 mt-3">
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Enviar">
    </form>
    <div>
        <br>¿Información de los Laboratorios?<br>
        <a href="{% url 'laboratorios' %}">Ir a información de los laboratorios--></a>
    </div>        
</div>
{% endblock content %}