{% extends 'base.html' %}
{% block content %}

<style>
  th,
  td {
      padding: 5px;
      border: 1px solid;
  }
</style>

<h2 style="text-align: center;">Informacion de laboratorios</h2>

<table align="center" style="margin: 0px auto;">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Pais</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for lab in laboratorios %}
  <tr>
    <td>{{lab.nombre}}</td>
    <td>{{lab.ciudad}}</td>
    <td>{{lab.pais}}</td>
    <td>
      <a href="{% url 'editar' lab.pk %}">Actualizar</a>
    </td>
    <td>
      <a href="{% url 'eliminar' lab.pk %}">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>  
</table>
<br><br>
<div class="alert alert-danger" role="alert">
  ¿Información de los Laboratorios?
</div>
<p>
  <a href="{% url 'insertar' %}"><-- Insertar un nuevo laboratorio</a>
</p>
<p>Usted ha visitado esta pagina {{num_visitas}}</p>

{% endblock content %}
